html-static/page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="page">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" use="optional" />
            <xs:attribute name="title" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>