Museu.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) by Giovani Rubert Librelotto (Universidade Federal de Santa Maria) -->
<!--W3C Schema generated by XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Museu">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Acompanhante" maxOccurs="unbounded"/>
				<xs:element ref="anexo" maxOccurs="unbounded"/>
				<xs:element ref="Chamante" maxOccurs="unbounded"/>
				<xs:element ref="Contratante" maxOccurs="unbounded"/>
				<xs:element ref="DeslAnterior" maxOccurs="unbounded"/>
				<xs:element ref="Filiacao" maxOccurs="unbounded"/>
				<xs:element ref="IdentificacaoEmigrante" maxOccurs="unbounded"/>
				<xs:element ref="Intermediario" maxOccurs="unbounded"/>
				<xs:element ref="Localidade" maxOccurs="unbounded"/>
				<xs:element ref="Lugar" maxOccurs="unbounded"/>
				<xs:element ref="Nota" maxOccurs="unbounded"/>
				<xs:element ref="PessoasFamFicamPais" maxOccurs="unbounded"/>
				<xs:element ref="Processo" maxOccurs="unbounded"/>
				<xs:element ref="ProcessoAcomp" maxOccurs="unbounded"/>
				<xs:element ref="ProcessoAnexo" maxOccurs="unbounded"/>
				<xs:element ref="ProcessoPessoasFam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Acompanhante">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idAcomp"/>
				<xs:element ref="nome"/>
				<xs:element ref="idAcompAux"/>
				<xs:element ref="dtNasc"/>
				<xs:element ref="parentesco"/>
				<xs:element ref="habilitacoes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="anexo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idAnexo"/>
				<xs:element ref="descricao"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Chamante">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idChamante"/>
				<xs:element ref="nome"/>
				<xs:element ref="residencia"/>
				<xs:element ref="tempoEstrang"/>
				<xs:element ref="passap"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contratante">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idContratante"/>
				<xs:element ref="nome"/>
				<xs:element ref="residencia"/>
				<xs:element ref="conhecimento"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeslAnterior">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idDeslAnterior"/>
				<xs:element ref="viajaPrimVez"/>
				<xs:element ref="dtRegresso"/>
				<xs:element ref="passapAnt"/>
				<xs:element ref="entEmissora"/>
				<xs:element ref="repatriado"/>
				<xs:element ref="motivo"/>
				<xs:element ref="pedidoAnt"/>
				<xs:element ref="numCM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filiacao">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idFiliacao"/>
				<xs:element ref="idPai"/>
				<xs:element ref="idMae"/>
				<xs:element ref="nomePai"/>
				<xs:element ref="nomeMae"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdentificacaoEmigrante">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idEmigrante"/>
				<xs:element ref="nome"/>
				<xs:element ref="dtNasc"/>
				<xs:element ref="idConj"/>
				<xs:element ref="nomeConj"/>
				<xs:element ref="idFiliacao"/>
				<xs:element ref="idNaturalidade"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Intermediario">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idIntermediario"/>
				<xs:element ref="nome"/>
				<xs:element ref="residencia"/>
				<xs:element ref="atividade"/>
				<xs:element ref="nomePai"/>
				<xs:element ref="nomeMae"/>
				<xs:element ref="parentesco"/>
				<xs:element ref="passap"/>
				<xs:element ref="pagamento"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Localidade">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idLocalidade"/>
				<xs:element ref="freguesia"/>
				<xs:element ref="concelho"/>
				<xs:element ref="distrito"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lugar">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idLugar"/>
				<xs:element ref="lugar"/>
				<xs:element ref="idLocalidade"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Nota">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idNota"/>
				<xs:element ref="descricao"/>
				<xs:element ref="numCM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PessoasFamFicamPais">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idPessoasFamFicamPais"/>
				<xs:element ref="nome"/>
				<xs:element ref="idDependente"/>
				<xs:element ref="idade"/>
				<xs:element ref="parentesco"/>
				<xs:element ref="aCargoEmigrante"/>
				<xs:element ref="idResidencia"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Processo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numCM"/>
				<xs:element ref="numCMu"/>
				<xs:element ref="numJE"/>
				<xs:element ref="ano"/>
				<xs:element ref="idade"/>
				<xs:element ref="estCivil"/>
				<xs:element ref="paisDestino"/>
				<xs:element ref="localidadeDestino"/>
				<xs:element ref="dtExp"/>
				<xs:element ref="oficioExp"/>
				<xs:element ref="passapExp"/>
				<xs:element ref="tipoTranspEmb"/>
				<xs:element ref="desigTranspEmb"/>
				<xs:element ref="ciaEmb"/>
				<xs:element ref="dtEmb"/>
				<xs:element ref="passPagaEmb"/>
				<xs:element ref="localEmb"/>
				<xs:element ref="portoDesemb"/>
				<xs:element ref="irComEmb"/>
				<xs:element ref="profissaoHab"/>
				<xs:element ref="habLiterariasHab"/>
				<xs:element ref="localTrabHab"/>
				<xs:element ref="remCondEco"/>
				<xs:element ref="numDiasTrabCondEco"/>
				<xs:element ref="motivoEmigCondEco"/>
				<xs:element ref="despDeslCondEco"/>
				<xs:element ref="julgadoAntPen"/>
				<xs:element ref="procPendAntPen"/>
				<xs:element ref="procPendFamAntPen"/>
				<xs:element ref="nomeAuxPaisDestino"/>
				<xs:element ref="parentescoAuxPaisDestino"/>
				<xs:element ref="residenciaAuxPaisDestino"/>
				<xs:element ref="profissaoAuxPaisDestino"/>
				<xs:element ref="auxPrestadosAuxPaisDestino"/>
				<xs:element ref="obtenContratoTrab"/>
				<xs:element ref="profissaoContratoTrab"/>
				<xs:element ref="salarioContratoTrab"/>
				<xs:element ref="jaTrabalhouMulherMenor"/>
				<xs:element ref="familiaresMulherMenor"/>
				<xs:element ref="qtTempoMulherMenor"/>
				<xs:element ref="ocupacaoMulherMenor"/>
				<xs:element ref="temConhecimentoDeclMulher"/>
				<xs:element ref="consideraDeclMulher"/>
				<xs:element ref="parentescoComChamante"/>
				<xs:element ref="idEmigrante"/>
				<xs:element ref="idChamante"/>
				<xs:element ref="idResidencia"/>
				<xs:element ref="idLugar"/>
				<xs:element ref="idIntermediario"/>
				<xs:element ref="idContratante"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessoAcomp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numCM"/>
				<xs:element ref="idAcomp"/>
				<xs:element ref="idProcessoAcomp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessoAnexo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idAnexo"/>
				<xs:element ref="numCM"/>
				<xs:element ref="idProcessoAnexo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessoPessoasFam">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idPessoasFamFicamPais"/>
				<xs:element ref="numCM"/>
				<xs:element ref="idProcessoPessoasFam"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ano">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nome">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dtEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dtExp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idMae">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idPai">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idade">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="lugar">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="numCM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="numJE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ciaEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dtNasc">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idConj">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idNota">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="motivo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="numCMu">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="passap">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idAcomp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idAnexo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idLugar">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nomeMae">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nomePai">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="concelho">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="distrito">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="estCivil">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="irComEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="localEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nomeConj">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="atividade">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="descricao">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="freguesia">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="oficioExp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pagamento">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="passapAnt">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="passapExp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pedidoAnt">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dtRegresso">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idAcompAux">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idChamante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idFiliacao">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="parentesco">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="remCondEco">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="repatriado">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="residencia">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="entEmissora">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idEmigrante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="paisDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="passPagaEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="portoDesemb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="conhecimento">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="habilitacoes">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idDependente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idLocalidade">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idResidencia">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="localTrabHab">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="profissaoHab">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tempoEstrang">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="viajaPrimVez">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idContratante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="julgadoAntPen">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipoTranspEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="desigTranspEmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idDeslAnterior">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idNaturalidade">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="procPendAntPen">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="aCargoEmigrante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="despDeslCondEco">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idIntermediario">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idProcessoAcomp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idProcessoAnexo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="habLiterariasHab">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="localidadeDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="motivoEmigCondEco">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="obtenContratoTrab">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="procPendFamAntPen">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nomeAuxPaisDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="numDiasTrabCondEco">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="qtTempoMulherMenor">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="consideraDeclMulher">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ocupacaoMulherMenor">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="salarioContratoTrab">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idProcessoPessoasFam">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="familiaresMulherMenor">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="idPessoasFamFicamPais">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="parentescoComChamante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="profissaoContratoTrab">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="jaTrabalhouMulherMenor">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="profissaoAuxPaisDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="parentescoAuxPaisDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="residenciaAuxPaisDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="temConhecimentoDeclMulher">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="auxPrestadosAuxPaisDestino">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
